<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>L'Oreal Scoresheet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.13.1/bootstrap-table.min.js"></script>
</head>
<body>

    <div class="container">
        <h1>Scorelist</h1>
        <div class="row">
            <div id="toolbar">
                <button id="download-button" class="btn btn-disabled">Download as CSV</button>
            </div>
           
       </div>
        <div class="row">
            <table id="table" 
                    class="table" 
                    data-toggle="table" 
                    data-toolbar="#toolbar"
                    data-search="true"
                    data-show-pagination-switch="true" 
                    data-page-list="[10, 25, 50, 100, ALL]"
                    data-pagination="true">
                <thead>
                    <tr>
                        <th rowspan="2" scope="col">Username</th>
                        <th rowspan="2" scope="col">Date</th>
                        <th rowspan="2" scope="col">Score</th>
                        <th rowspan="2" scope="col">Time</th>
                        <th colspan="2" scope="col">Scene 1 </th>
                        <th colspan="2" scope="col">Scene 2 </th>
                        <th colspan="2" scope="col">Scene 3 </th>
                        <th colspan="2" scope="col">Scene 4 </th>
                        <th colspan="2" scope="col">Scene 5 </th>
                    </tr>
                    <tr>
                        <th scope="col">Score</th>
                        <th scope="col">Time</th>
                        <th scope="col">Score</th>
                        <th scope="col">Time</th>
                        <th scope="col">Score</th>
                        <th scope="col">Time</th>
                        <th scope="col">Score</th>
                        <th scope="col">Time</th>
                        <th scope="col">Score</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <% sessionData.forEach(session => { %>
                        <tr class="clickable-row" data-href="/index">
                            <td> <%= session.username %> </td>
                            <td> <%= session.date %> </td>
                            <td> <%= session.totalScore %> </td>
                            <td> <%= Math.floor(session.totalTime) %> </td>
                            <td> <%= session.scene1Score.score %> </td>
                            <td> <%= Math.floor(session.scene1Score.time) %> </td>
                            <td> <%= session.scene2Score.score %> </td>
                            <td> <%= Math.floor(session.scene2Score.time) %> </td>
                            <td> <%= session.scene3Score.score %> </td>
                            <td> <%= Math.floor(session.scene3Score.time) %> </td>
                            <td> <%= session.scene4Score.score %> </td>
                            <td> <%= Math.floor(session.scene4Score.time) %> </td>
                            <td> <%= session.scene5Score.score %> </td>
                            <td> <%= Math.floor(session.scene5Score.time) %> </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <script>

        let data2 = JSON.parse('<%- formattedSessionData %>')
        console.log(data2);

        document.getElementById('download-button').addEventListener('click', function() {
            
            let csv ='';

            // Loop the array of objects
            for (let row = 0; row < data2.length; row++) {
                let keysAmount = Object.keys(data2[row]).length
                let keysCounter = 0

                // If this is the first row, generate the headings
                if (row === 0) {
                    // Loop each property of the object
                    for (let key in data2[row]) {
                        // Don't add comma to the last cell
                        csv += key + (keysCounter+1 < keysAmount ? ';' : '\r\n')
                        keysCounter++
                    }
                    keysCounter = 0;
                    for (let key in data2[row]) {
                        // Add values of the first row
                        csv += data2[row][key] + (keysCounter+1 < keysAmount ? ';' : '\r\n')
                        keysCounter++
                    }
                } else {
                    for (let key in data2[row]) {
                        // Add values for the rest of the rows
                        csv += data2[row][key] + (keysCounter+1 < keysAmount ? ';' : '\r\n')
                        keysCounter++
                    }
                }
                keysCounter = 0
            }

            // After done looping, download the csv by creating a link
            let date = new Date()
            let timestamp = date.toISOString().slice(0,10).replace(/-/g,"")
            
            let link = document.createElement('a')
            link.id = 'download-csv'
            link.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(csv))
            link.setAttribute('download', 'scoresheet-' + timestamp + '.csv')
            document.body.appendChild(link)
            document.querySelector('#download-csv').click()
        });

        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });

    </script>
</body>
</html>